In [113]:
import pandas as pd
import csv
import matplotlib.pyplot as plt

fields = ['timestamp', 'replies','likes', 'retweets' ,'text']

filename = 'gs://bigdata-general/tweets.csv'

tweets = pd.read_csv(filename, delimiter=';', usecols=fields, skiprows=[i for i in range(1,6000000)], nrows=1000000)
tweets.tail()

,timestamp,replies,likes,retweets,text
999995,2019-07-10 01:59:28+00,0.0,0.0,0.0,BTC大暴落に合わせてショート決めたいね。\n朝ロスカ喰らったけど、慌てずに再ショート
999996,2019-07-10 01:59:28+00,0.0,0.0,0.0,Bitcoin 2019 https://t.co/zqdHvdiO9B https://t...
999997,2019-07-10 01:59:31+00,0.0,0.0,0.0,@fjsingleton 200 Bitcoin is worth $2.5M ! If t...
999998,2019-07-10 01:59:34+00,0.0,0.0,0.0,You saw well...
999999,2019-07-10 01:58:07+00,0.0,0.0,1.0,M字下げになるか、高値底値を切り上げて上がってくか大事なポイントです。\n\n【ビットコイン...

In [108]:
tweets = pd.read_csv(filename, delimiter=';', usecols=fields ,nrows=10000)
tweets

,timestamp,replies,likes,retweets,text
0,2019-05-27 11:49:14+00,0,0,0,È appena uscito un nuovo video! LES CRYPTOMONN...
1,2019-05-27 11:49:18+00,0,0,0,Cardano: Digitize Currencies; EOS https://t.co...
2,2019-05-27 11:49:06+00,0,2,1,Another Test tweet that wasn't caught in the s...
3,2019-05-27 11:49:22+00,0,0,0,Current Crypto Prices! \n\nBTC: $8721.99 USD\n...
4,2019-05-27 11:49:23+00,0,0,0,Spiv (Nosar Baz): BITCOIN Is An Asset &amp; NO...
...,...,...,...,...,...
9995,2019-05-10 11:46:11+00,0,0,1,Binance suffered a hack this week which lost t...
9996,2019-05-11 13:00:55+00,8,70,9,People fomo from #xrp to #btc not financial ad...
9997,2019-05-10 11:46:44+00,0,0,0,"Truncus, a turkish blockchain writer created a..."
9998,2019-05-10 11:47:06+00,0,0,0,明日(毎週日土曜日)は、\n\nヘッジファンド(大口)のポジションが公開される日です。\n\...
9999,2019-05-10 11:47:33+00,0,0,0,"@diaryofarekt @Bitfinexed Clearly spot buying,..."

In [69]:
t1 = pd.read_csv(filename, delimiter=';', usecols=fields, skiprows=[i for i in range(1,200)], nrows=100)
t2 = pd.read_csv(filename, delimiter=';', usecols=fields, skiprows=[i for i in range(1,300)], nrows=100)
t3 = pd.read_csv(filename, delimiter=';', usecols=fields, skiprows=[i for i in range(1,400)], nrows=100)

In [70]:
t = []
t.append(t1)
t.append(t2)
t.append(t3)

In [71]:
# Merge data
pd.concat(t, ignore_index=True)

,timestamp,replies,likes,retweets,text
0,2019-05-27 11:51:32+00,0,0,0,"Un año para el halving de Bitcoin, AT&amp;T y ..."
1,2019-05-27 11:51:34+00,0,0,0,"@eevblog Well, you even have anonymous bitcoin..."
2,2019-05-27 11:51:34+00,0,0,0,Mayer’e göre #Bitcoin fiyatı 250.000 doları gö...
3,2019-05-27 11:51:36+00,0,0,0,@cryptoc77528931 \n\nBitMEX’s Hayes: Bitfinex’...
4,2019-05-27 11:51:37+00,0,0,0,Current Crypto Prices! \n\nBTC: $8716.59 USD\n...
...,...,...,...,...,...
295,2019-05-27 10:42:00+00,0,15,14,See the latest updates on #slatecurrency's #gi...
296,2019-05-27 11:54:57+00,0,0,0,"BTC戦闘力↑:¥955,213(max #XRP/mini #LSK)\nさあ、今すぐリツ..."
297,2019-05-27 11:54:59+00,0,0,0,Happy Children’s Day from Oleks FX \n.\n.\n.\n...
298,2019-05-27 11:54:59+00,0,0,0,https://t.co/xEVF22smet\n#mondaythoughts #bitc...
299,2019-05-27 11:55:02+00,0,0,0,bitcoin mining erfahrung - Binance https://t.c...

In [39]:
tweets.dtypes

timestamp     object
replies      float64
likes        float64
retweets     float64
text          object
dtype: object

In [53]:
tweets.head()

,timestamp,replies,likes,retweets,text
0,2019-11-08 15:56:57+00,0.0,0.0,0.0,https://t.co/FDw1arUhIG
1,2019-11-08 15:57:01+00,0.0,0.0,0.0,@titanad1 @Bitcoinomist @PredictableLeg is giv...
2,2019-11-08 15:57:02+00,0.0,0.0,0.0,@altcoin_fantasy BTC \nUsername \nmanuelfdpereira
3,2019-11-08 15:57:02+00,0.0,0.0,0.0,"ビットコイン・スプレッド・アラート\n（BID）958,910円 bitbank\n（ASK..."
4,2019-11-08 15:57:05+00,0.0,0.0,0.0,@mwml77 @Bitcoinomist @PredictableLeg is givin...

In [54]:
# Remove time from timestamp
tweets['timestamp'] = pd.to_datetime(tweets['timestamp']).dt.date

In [82]:
# Remove tweets without replies, likes and retweets
df = tweets[(tweets.replies !=0) & (tweets.likes !=0) & (tweets.retweets !=0)]
df

,timestamp,replies,likes,retweets,text
11,2019-05-21 16:49:45+00,47,81,84,"BTC IS STILL GOING STRONG!!\n\nThus, we are gi..."
12,2019-05-22 12:42:16+00,3,2,7,BestMixer has been seized by the Dutch Police ...
13,2019-05-27 11:49:30+00,1,1,1,Invested my Life Savings into Bitcoin and Ethe...
14,2019-05-27 08:13:06+00,5,167,68,"Bitcoin Price Hits $8,939 in New 2019 High: Wh..."
17,2019-05-27 11:49:17+00,1,1,1,"#Countdown #ComingSoon The $QLC airdrop, #Q_Ga..."
...,...,...,...,...,...
278,2019-05-27 01:09:46+00,6,110,17,Bitcoin and litecoin are dominating.\n\nDo you...
279,2019-05-27 11:52:05+00,7,28,3,Here is the next level you want to buy at $BTC...
296,2019-05-26 22:27:19+00,18,140,12,Who needs a Bitcoin triangle meme...\n\nWhen y...
297,2019-05-13 16:30:27+00,115,5549,1954,"The last time Bitcoin broke $8,000:\n\nMicroso..."
299,2019-05-23 16:18:55+00,36,1126,249,"Them: ""Listen up, I'm an acclaimed economist.""..."

In [58]:
df.to_csv('/home/amaru-razerblade/bigdata-crypto/datos/clean_tweets_16.csv')

# Clean all data Script

In [73]:
import pandas as pd
import csv
import matplotlib.pyplot as plt

fields = ['timestamp', 'replies','likes', 'retweets' ,'text']
filename = 'gs://bigdata-general/tweets.csv'
parts = 17 # 17 parts {0,1,2, ... , 16} because there are around 16 800 000 tweets.
CHUNK_SIZE = 1000000 
tweets = []

In [121]:
for part in range(0, parts):
    chunk = CHUNK_SIZE * part
    print(f"Processing part {part}, from {part} to {part+1} M ...")
    print(f"Reading data -> Chunk Size to ignore is 1 to {chunk}")
    if part == 0: # Process the first 1M tweets
        print("Reading first Chunk")
        df = pd.read_csv(filename, delimiter=';', usecols=fields, nrows=CHUNK_SIZE)
    elif part == 16: # Process the last chunk of tweets around 800 000
        print("Reading last Chunk")
        df = pd.read_csv(filename, delimiter=';', usecols=fields, skiprows=[i for i in range(1,chunk)])
    elif part == 6:
        print(f"part from {part} to {part+1} has errors, ignore")
        continue
    else: # Process the rest of tweets from 1M to 16M
        print(f"Reading chunk {part}")
        df = pd.read_csv(filename, delimiter=';', usecols=fields, skiprows=[i for i in range(1,chunk)], nrows=CHUNK_SIZE)
        
    # Remove time from timestamp
    df['timestamp'] = pd.to_datetime(df['timestamp']).dt.date
    # Remove tweets without replies, likes and retweets
    df = df[(df.replies !=0) & (df.likes !=0) & (df.retweets !=0)]
    length = len(df.index)
    print(f"Part {part} has {length} rows")
    # Concat filtered tweets
    tweets.append(df)

Processing part 0, from 0 to 1 M ...
Reading data -> Chunk Size to ignore is 1 to 0
Reading first Chunk
Part 0 has 39274 rows
Processing part 1, from 1 to 2 M ...
Reading data -> Chunk Size to ignore is 1 to 1000000
Reading chunk 1
Part 1 has 12420 rows
Processing part 2, from 2 to 3 M ...
Reading data -> Chunk Size to ignore is 1 to 2000000
Reading chunk 2
Part 2 has 13210 rows
Processing part 3, from 3 to 4 M ...
Reading data -> Chunk Size to ignore is 1 to 3000000
Reading chunk 3

/opt/conda/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (4,8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Part 3 has 530976 rows
Processing part 4, from 4 to 5 M ...
Reading data -> Chunk Size to ignore is 1 to 4000000
Reading chunk 4
Part 4 has 38470 rows
Processing part 5, from 5 to 6 M ...
Reading data -> Chunk Size to ignore is 1 to 5000000
Reading chunk 5
Part 5 has 33065 rows
Processing part 6, from 6 to 7 M ...
Reading data -> Chunk Size to ignore is 1 to 6000000
part from 6 to 7 has errors, ignore
Processing part 7, from 7 to 8 M ...
Reading data -> Chunk Size to ignore is 1 to 7000000
Reading chunk 7
Part 7 has 32786 rows
Processing part 8, from 8 to 9 M ...
Reading data -> Chunk Size to ignore is 1 to 8000000
Reading chunk 8
Part 8 has 37776 rows
Processing part 9, from 9 to 10 M ...
Reading data -> Chunk Size to ignore is 1 to 9000000
Reading chunk 9
Part 9 has 28836 rows
Processing part 10, from 10 to 11 M ...
Reading data -> Chunk Size to ignore is 1 to 10000000
Reading chunk 10
Part 10 has 32807 rows
Processing part 11, from 11 to 12 M ...
Reading data -> Chunk Size to ignore is 1 to 11000000
Reading chunk 11

/opt/conda/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (4,8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Part 11 has 95843 rows
Processing part 12, from 12 to 13 M ...
Reading data -> Chunk Size to ignore is 1 to 12000000
Reading chunk 12
Part 12 has 28865 rows
Processing part 13, from 13 to 14 M ...
Reading data -> Chunk Size to ignore is 1 to 13000000
Reading chunk 13
Part 13 has 31862 rows
Processing part 14, from 14 to 15 M ...
Reading data -> Chunk Size to ignore is 1 to 14000000
Reading chunk 14
Part 14 has 30091 rows
Processing part 15, from 15 to 16 M ...
Reading data -> Chunk Size to ignore is 1 to 15000000
Reading chunk 15
Part 15 has 33036 rows
Processing part 16, from 16 to 17 M ...
Reading data -> Chunk Size to ignore is 1 to 16000000
Reading last Chunk
Part 16 has 27832 rows

In [122]:
df_p = pd.concat(tweets, ignore_index=True)

In [123]:
len(df_p.index)

1047149

In [124]:
# Concat filtered data and store in file
df = pd.concat(tweets, ignore_index=True)
df.to_csv('/home/amaru-razerblade/bigdata-crypto/datos/clean_tweets.csv')
df.head()

,timestamp,replies,likes,retweets,text
0,2019-05-21,47.0,81.0,84.0,"BTC IS STILL GOING STRONG!!\n\nThus, we are gi..."
1,2019-05-22,3.0,2.0,7.0,BestMixer has been seized by the Dutch Police ...
2,2019-05-27,1.0,1.0,1.0,Invested my Life Savings into Bitcoin and Ethe...
3,2019-05-27,5.0,167.0,68.0,"Bitcoin Price Hits $8,939 in New 2019 High: Wh..."
4,2019-05-27,1.0,1.0,1.0,"#Countdown #ComingSoon The $QLC airdrop, #Q_Ga..."

In [153]:
df

,timestamp,replies,likes,retweets,text
0,2019-05-21,47.0,81.0,84.0,"BTC IS STILL GOING STRONG!!\n\nThus, we are gi..."
1,2019-05-22,3.0,2.0,7.0,BestMixer has been seized by the Dutch Police ...
2,2019-05-27,1.0,1.0,1.0,Invested my Life Savings into Bitcoin and Ethe...
3,2019-05-27,5.0,167.0,68.0,"Bitcoin Price Hits $8,939 in New 2019 High: Wh..."
4,2019-05-27,1.0,1.0,1.0,"#Countdown #ComingSoon The $QLC airdrop, #Q_Ga..."
...,...,...,...,...,...
1047144,2019-11-23,2.0,1.0,2.0,Start Bitcoin Mining Today!\n\nhttps://t.co/AF...
1047145,2019-11-23,46.0,71.0,50.0,We are super happy to announce that TZC is add...
1047146,2019-11-18,370.0,787.0,940.0,Registration is now open for the biggest globa...
1047147,2019-11-23,17.0,20.0,24.0,$200 #PayPal or #Bitcoin #giveaway \n1) RT thi...
1047148,2019-11-23,2.0,16.0,3.0,Happy #FibonacciDay \n\nA while back I created...

In [7]:
for index, row in tweets.iterrows():
    row['timestamp'] = row['timestamp'][0:10]
tweets

,timestamp,replies,likes,retweets,text
0,2019-05-27 11:49:14+00,0,0,0,È appena uscito un nuovo video! LES CRYPTOMONN...
1,2019-05-27 11:49:18+00,0,0,0,Cardano: Digitize Currencies; EOS https://t.co...
2,2019-05-27 11:49:06+00,0,2,1,Another Test tweet that wasn't caught in the s...
3,2019-05-27 11:49:22+00,0,0,0,Current Crypto Prices! \n\nBTC: $8721.99 USD\n...
4,2019-05-27 11:49:23+00,0,0,0,Spiv (Nosar Baz): BITCOIN Is An Asset &amp; NO...
...,...,...,...,...,...
999995,2019-05-21 21:23:03+00,0,0,0,Dutch Man Arrested Over $2.2 Million Bitcoin M...
999996,2019-05-21 20:55:25+00,2,35,21,This is how crypto can do some of it's best wo...
999997,2019-05-21 21:29:36+00,0,0,0,クレイグ・ライト氏、\nBitcoinホワイトペーパー\n著作権を登録 ✍️\n💸BSV高騰...
999998,2019-05-21 21:24:09+00,0,0,0,Bitcoin doesn't have inherent value. \nAltcoin...
999999,2019-05-21 21:24:32+00,0,0,0,Get Free Bitcoin https://t.co/WriteI4zFV

In [128]:
df.tail()

,timestamp,replies,likes,retweets,text
1047144,2019-11-23,2.0,1.0,2.0,Start Bitcoin Mining Today!\n\nhttps://t.co/AF...
1047145,2019-11-23,46.0,71.0,50.0,We are super happy to announce that TZC is add...
1047146,2019-11-18,370.0,787.0,940.0,Registration is now open for the biggest globa...
1047147,2019-11-23,17.0,20.0,24.0,$200 #PayPal or #Bitcoin #giveaway \n1) RT thi...
1047148,2019-11-23,2.0,16.0,3.0,Happy #FibonacciDay \n\nA while back I created...

In [172]:
# Removing null values
clean_df = df[df.replies.notnull() & df.likes.notnull() & df.retweets.notnull()]
clean_df

,timestamp,replies,likes,retweets,text
0,2019-05-21,47.0,81.0,84.0,"BTC IS STILL GOING STRONG!!\n\nThus, we are gi..."
1,2019-05-22,3.0,2.0,7.0,BestMixer has been seized by the Dutch Police ...
2,2019-05-27,1.0,1.0,1.0,Invested my Life Savings into Bitcoin and Ethe...
3,2019-05-27,5.0,167.0,68.0,"Bitcoin Price Hits $8,939 in New 2019 High: Wh..."
4,2019-05-27,1.0,1.0,1.0,"#Countdown #ComingSoon The $QLC airdrop, #Q_Ga..."
...,...,...,...,...,...
1047144,2019-11-23,2.0,1.0,2.0,Start Bitcoin Mining Today!\n\nhttps://t.co/AF...
1047145,2019-11-23,46.0,71.0,50.0,We are super happy to announce that TZC is add...
1047146,2019-11-18,370.0,787.0,940.0,Registration is now open for the biggest globa...
1047147,2019-11-23,17.0,20.0,24.0,$200 #PayPal or #Bitcoin #giveaway \n1) RT thi...
1047148,2019-11-23,2.0,16.0,3.0,Happy #FibonacciDay \n\nA while back I created...

In [190]:
clean_df.to_csv('/home/amaru-razerblade/bigdata-crypto/datos/clean_tweets.csv')
!cd '/home/amaru-razerblade/bigdata-crypto/datos' && gsutil cp clean_tweets.csv gs://bigdata-general/clean_tweets.csv

Copying file://clean_tweets.csv [Content-Type=text/csv]...
\ [1 files][100.5 MiB/100.5 MiB]
Operation completed over 1 objects/100.5 MiB.

In [178]:
sorted_df = clean_df.sort_values(by=['timestamp'])

,timestamp,replies,likes,retweets,text
8,2009-01-11,790.0,14470.0,5542.0,Running bitcoin
640843,2009-01-21,55.0,1544.0,392.0,Looking at ways to add more anonymity to bitcoin
642457,2009-01-27,44.0,1042.0,277.0,Thinking about how to reduce CO2 emissions fro...
644998,2009-02-18,5.0,64.0,42.0,Just wrote: Bitcoin: new open source P2P e-cas...
647643,2009-06-19,1.0,16.0,8.0,Very pleasant day cycling around London and co...
...,...,...,...,...,...
1046672,2019-11-23,1.0,14.0,4.0,PRIVATE https://t.co/eHN5wJWJNq 100X SIGNAL\n\...
1046673,2019-11-23,5.0,13.0,3.0,Bantu be Bitcoin currency ndicela nime tu ngez...
1046674,2019-11-23,1.0,7.0,1.0,🌑🌑🚀🚀RESERVE PRICE REACHED 🚀🚀🌑🌑\nThe Day We've ...
1046665,2019-11-23,1.0,3.0,1.0,#BTC #bitcoin\n\nEARNING SYSTEM\nReferral Bonu...
1047148,2019-11-23,2.0,16.0,3.0,Happy #FibonacciDay \n\nA while back I created...

In [183]:
# Don't index data with non-unique index
new_df = sorted_df.reindex(index=sorted_df.timestamp)
new_df

           timestamp  replies  likes  retweets text
timestamp
2009-01-11       NaN      NaN    NaN       NaN  NaN
2009-01-21       NaN      NaN    NaN       NaN  NaN
2009-01-27       NaN      NaN    NaN       NaN  NaN
2009-02-18       NaN      NaN    NaN       NaN  NaN
2009-06-19       NaN      NaN    NaN       NaN  NaN
...              ...      ...    ...       ...  ...
2019-11-23       NaN      NaN    NaN       NaN  NaN
2019-11-23       NaN      NaN    NaN       NaN  NaN
2019-11-23       NaN      NaN    NaN       NaN  NaN
2019-11-23       NaN      NaN    NaN       NaN  NaN
2019-11-23       NaN      NaN    NaN       NaN  NaN

[462258 rows x 5 columns]

In [189]:
start_date = pd.to_datetime("2019-01-01").date()
clean_df[clean_df['timestamp'] > start_date]

,timestamp,replies,likes,retweets,text
0,2019-05-21,47.0,81.0,84.0,"BTC IS STILL GOING STRONG!!\n\nThus, we are gi..."
1,2019-05-22,3.0,2.0,7.0,BestMixer has been seized by the Dutch Police ...
2,2019-05-27,1.0,1.0,1.0,Invested my Life Savings into Bitcoin and Ethe...
3,2019-05-27,5.0,167.0,68.0,"Bitcoin Price Hits $8,939 in New 2019 High: Wh..."
4,2019-05-27,1.0,1.0,1.0,"#Countdown #ComingSoon The $QLC airdrop, #Q_Ga..."
...,...,...,...,...,...
1047144,2019-11-23,2.0,1.0,2.0,Start Bitcoin Mining Today!\n\nhttps://t.co/AF...
1047145,2019-11-23,46.0,71.0,50.0,We are super happy to announce that TZC is add...
1047146,2019-11-18,370.0,787.0,940.0,Registration is now open for the biggest globa...
1047147,2019-11-23,17.0,20.0,24.0,$200 #PayPal or #Bitcoin #giveaway \n1) RT thi...
1047148,2019-11-23,2.0,16.0,3.0,Happy #FibonacciDay \n\nA while back I created...

In [169]:
x = df.iloc[110000:120000]
x

       timestamp  replies  likes  retweets text
110000       NaN      NaN    NaN       NaN  NaN
110001       NaN      NaN    NaN       NaN  NaN
110002       NaN      NaN    NaN       NaN  NaN
110003       NaN      NaN    NaN       NaN  NaN
110004       NaN      NaN    NaN       NaN  NaN
...          ...      ...    ...       ...  ...
119995       NaN      NaN    NaN       NaN  NaN
119996       NaN      NaN    NaN       NaN  NaN
119997       NaN      NaN    NaN       NaN  NaN
119998       NaN      NaN    NaN       NaN  NaN
119999       NaN      NaN    NaN       NaN  NaN

[10000 rows x 5 columns]

In [163]:
#df.replies !=0) & (df.likes !=0) & (df.retweets !=0
(x.replies != 0) & (not pd.isnull(x.replies))

False

In [170]:
x.replies.notnull()

110000    False
110001    False
110002    False
110003    False
110004    False
          ...
119995    False
119996    False
119997    False
119998    False
119999    False
Name: replies, Length: 10000, dtype: bool

In [11]:
import pandas as pd
import csv
import matplotlib.pyplot as plt

#fields = ['timestamp', 'replies','likes', 'retweets' ,'text']

filename = 'gs://bigdata-general/clean_tweets.csv'

df = pd.read_csv(filename, delimiter=',', index_col=0)
df.tail()

,timestamp,replies,likes,retweets,text
1047144,2019-11-23,2.0,1.0,2.0,Start Bitcoin Mining Today!\n\nhttps://t.co/AF...
1047145,2019-11-23,46.0,71.0,50.0,We are super happy to announce that TZC is add...
1047146,2019-11-18,370.0,787.0,940.0,Registration is now open for the biggest globa...
1047147,2019-11-23,17.0,20.0,24.0,$200 #PayPal or #Bitcoin #giveaway \n1) RT thi...
1047148,2019-11-23,2.0,16.0,3.0,Happy #FibonacciDay \n\nA while back I created...

In [14]:
# Removing null values
clean_df = df[df.replies.notnull() & df.likes.notnull() & df.retweets.notnull()]
len(clean_df)
clean_df

,timestamp,replies,likes,retweets,text
0,2019-05-21,47.0,81.0,84.0,"BTC IS STILL GOING STRONG!!\n\nThus, we are gi..."
1,2019-05-22,3.0,2.0,7.0,BestMixer has been seized by the Dutch Police ...
2,2019-05-27,1.0,1.0,1.0,Invested my Life Savings into Bitcoin and Ethe...
3,2019-05-27,5.0,167.0,68.0,"Bitcoin Price Hits $8,939 in New 2019 High: Wh..."
4,2019-05-27,1.0,1.0,1.0,"#Countdown #ComingSoon The $QLC airdrop, #Q_Ga..."
...,...,...,...,...,...
1047144,2019-11-23,2.0,1.0,2.0,Start Bitcoin Mining Today!\n\nhttps://t.co/AF...
1047145,2019-11-23,46.0,71.0,50.0,We are super happy to announce that TZC is add...
1047146,2019-11-18,370.0,787.0,940.0,Registration is now open for the biggest globa...
1047147,2019-11-23,17.0,20.0,24.0,$200 #PayPal or #Bitcoin #giveaway \n1) RT thi...
1047148,2019-11-23,2.0,16.0,3.0,Happy #FibonacciDay \n\nA while back I created...